
<section>
    <h3 id="f1DriverHeading">Login Header</h3>
    <div ng-app='login' ng-controller="loginController">
        Username <input type='text'><br>
        Password <input type='text'><br>
        <button type="button" ng-click="onLoginButtonClickListener()">Login</button>
<!--        <button type="button" ng-click="go('/home')">Login</button>-->
<!--        <ng-click ng-click='Login'></ng-click>-->

    </div>
</section>


<!--
<p>This is the partial for view 2.</p>
<p>
  Showing of 'interpolate' filter:
  {{ 'Current version is v%VERSION%.' | interpolate }}
</p>
-->
